<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myportfoliositeAlexHaidar</title>
    <link rel="icon" type="image.png" href="/static/icon.png">
    <style>
        img {
            height: auto;
            display: block;
            margin: auto;
        }
    </style>
</head>
<body>
    <div id="container">      
        <div id="image_container">         
            <img src="/static/main.svg" alt="main image" usemap="#image-map">
            <map name="image-map">
                <area target="_blank" alt="GitHub" title="GitHub" href="https://github.com/Alexx1105" coords="1289,3988,1430,4025" shape="rect">
                <area target="_blank" alt="linkedin" title="linkedin" href="https://www.linkedin.com/in/alex-haidar-a02444288/" coords="1453,3986,1590,4026" shape="rect">
                <area target="_blank" alt="my email" title="email" href="mailto:alexh2877@gmail.com" coords="426,4069,707,4130" shape="rect">
                <area target="_blank" alt="my phone number" title="phone" href="tel:+15713790227" coords="738,4068,934,4129" shape="rect">
          
          
            </map>
            </map>
            </map>
        </div>
    </div>
</body>
</html>




